<div class="container-fluid featured-work-div">
  <div class="row bio">
    <div class="col-12">
        <h2 class="work-div-title">Bio</h2>
    </div>
    <h5 class="bio-text">
      I am a full-stack web developer with a diverse background in logistics, music,
      and holistic medicine. I began my love of web development while researching technologies
      to create a food blog and ecommerce web site. I started making html canvas animations
      and web based audio tools using the web audio api. My passion is to create
      social music based web experiences that are a joy to use and bring people together.
    </h5>
  </div>
</div>
