  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8" />
  <title>Portfolio Site</title>
  <link href="/css/font_styles.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin,latin-ext" rel="stylesheet" >
  <link href="/css/framework.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet"/>
