  <div class="jumbo container-fluid">
      <picture>
          <source media="(min-width:800px)" srcset="/images/Shige_Erzhutiaoxingtu-1200.jpg 1200w">
          <source media="(max-width:799px)" srcset="/images/Shige_Erzhutiaoxingtu-800.jpg 800w">
          <img src="/images/drinking_tea.jpg" alt="people drinking tea"/>
      </picture>
  </div>
