<div class="container-fluid featured-work-div">

      <!-- section title -->
      <div class="col-12 work-div-div">
          <h2 class="work-div-title">Featured Work</h2>
      </div>
      <!-- /section title -->

      <!-- begin links to featured work -->
        <div class="container work-container">
          <div class="row" id="work-row">

          </div>
        </div>


  </div>
