/* start with default styles
margins to 0. set font for document */
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F1F1F1;
}

header {
    width: 97%;
    margin: auto;
}

hr {
    max-width: 97%;
    height: .25em;
    margin:  20px auto;
    background-color: firebrick;
}

figure {
     margin: 0;
 }

picture {
     max-width: 100%;
 }

img {
      max-width: 100%;
  }

/* set background color for the large container elements */
.container-fluid{
    background-color: #fff;
    box-shadow: 1px 1px 5px darkgrey;
}

/* default styles and positioning for the logo */
.logo {
    color: firebrick;
    text-align: center;
    text-shadow: 2px 1px  5px black ;
    width: 25%;
    height: 25px;
    margin-top: 4px;
    font-size: 4.2em;
    transition: font-size .5s;
}

/* default styles and positioning for the text in the header */
.logo-text {


    text-shadow: 1px 1px firebrick;
    width: 100%;
    transition: font-size .5s;
}



/* front end web developer */
.title {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 2em;
}

/* Mark Holthaus */
.name {
    width: 100%;
    margin-top: 10px;
    font-size: 4em;
    font-weight: 100;
}

/* large hero image */
.jumbo {
    margin: 10px auto;
}

/* setup for links to featured work and the surrounding container */
.featured-work-div {
    text-align: center;
    flex-flow: column;
    font-weight: lighter;
    transition: text-align 10s;
    margin-bottom: 20px;
}

/* title for the featured work section */
.work-div-title {
     font-size: 1.2em;
     font-weight: lighter;
     text-shadow: 1px 1px firebrick;
     transition: font-size .5s;
 }

.work-figure {
    max-width: 85%;
    margin: 0 auto 30px auto;
}

/* image for each featured work link */
.work-img {
    max-width: 95%;
    max-height: 237px;
    margin: auto;
}

/* caption for each featured work image */
figcaption {
    font-size: 1em;
    font-weight: 600;
}

/* minor break point @ 320 px. adjust the font sizes and the logo margin */
@media screen and (min-width:320px) {



    .work-div-title {
        font-size: 1.5em;
    }
}

/*minor breakpoint @ 350 px. adjust font sizes in the header and the logo margin */
@media screen and (min-width:350px) {


}

/* minor breakpoint @ 420px. adjust the font sizes and the alignment of the logo */
@media screen and (min-width: 420px) {


    .work-div-title {
        font-size: 1.65em;
    }
}

/* breakpoint @ 540px. everything becomes larger but still laid out in a single column */
@media screen and (min-width: 540px) {


    .name {

    }

    .jumbo {
        margin-top: 20px;
    }

    .work-div-title {
        font-size: 1.75em;
    }
}

/* breakpoint @ 700px. Change layout from a single column to laptop/desktop layout */
@media screen and (min-width: 700px) {



    /* featured work div becomes one row with three columns */
    .work-links {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .work-div-title {
        text-align: left;
        margin-left: 2%;
    }

    .work-div-title {
        font-size: 2em;
    }
}

/* minor breakpoint @ 1000px to adjust the header */
@media screen and (min-width: 1000px) {


}

/* breakpoint @ 1128 px. Freeze the content width.
Set left and right margins to auto to allow whitespace on both sides*/
@media screen and (min-width: 1128px) {

    header {
        max-width: 1128px;
        margin: auto;
    }



    hr {
        max-width: 1128px;
        margin: 20px auto;
    }

    .jumbo {
        max-width: 1128px;
        margin: 20px auto ;
    }

    .featured-work-div {
        max-width: 1128px;
        margin: 0 auto 20px auto;
    }
}
