<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <hr  />
    <section>
      <% include ../partials/jumbo %>
    </section>
    <section>
      <% include ../partials/work %>
    </section>

  </body>
</html>
